<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo Phase Coding</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://hroy.eu/bootstrap/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Knowledge</a>
                    </li>
                    <li style="padding-left: 20px;" role="presentation"><a href="#">Let's Encode</a>
                    </li>
                    <li style="padding-left: 20px;" role="presentation"><a href="/showDecode">Let's Decode</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Nhóm 9</h3>
        </div>
        <!-- start audio to encode -->
        <h4>Tải lên file audio</h4>
        <form id="data" method="PORT" enctype="multipart/form-data">
            <input type="file" id="encodeFile" name="file" />
            <audio id="loadSrcEndcodeFile" controls>
                <source src="" id="srcEndcodeFile" />
            </audio>
            <!-- end audio to encode -->
            <br /> <br />
            <!-- start secret message -->
            <h4>Tin nhắn secret</h4>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="secret"></textarea>
            </div>
            <!-- end secret message -->
            <button class="btn btn-success" id="btnEncode">Encode </button>

        </form>

        <p id='txtResult'>

        </p>

        <br /> <br />
        <footer class="footer">
            <p>&copy; Copyright 2020</p>
        </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function handleEncodeFile(event) {
            var files = event.target.files;
            $("#srcEndcodeFile").attr("src", URL.createObjectURL(files[0]));
            document.getElementById("loadSrcEndcodeFile").load();
        }
        document.getElementById("encodeFile").addEventListener("change", handleEncodeFile, false);
       
        $("form#data").submit(function (e) {
            e.preventDefault();
            let formData = new FormData(this);
            $.ajax({
                url: '/handleEncode',
                type: 'POST',
                data: formData,
                success: function (resp) {
                    alert('Test')
                    console.log(resp.data)
                    $('#txtResult').append('Testing')
                    toastr.success('Encode thành công', 'Nhóm 9')
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
</body>

</html>